.holdings-table {
    width: 100%;
    display: flex;
    flex-direction: column;;
}

.holdings-table-head {
    display: flex;
    color: #5F6D94;
    padding: 15px 0px 15px 0px;
}

.tcol {
    width: 33%;
}

.simplebar-scrollbar:before {
    background: linear-gradient(to top, rgb(156, 197, 255), #64A3FE) !important;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1 !important;
}

.holdings-table-body {
    height: 125px;
    color: #fff;
    font-size: 8pt;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #5F6D94;
}

.table-data {
    width: 33%;
    
}

