.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    position: relative;
    height: 100px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contact-title span{
    position: absolute;
    color: #fff;
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24pt;
    font-weight: bolder;
}

.contact-wrap {
    width: 560px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title-img {
    width: 100%;
    object-fit: cover;
}

.contact-form {
    margin: 40px 55px 48px 55px;
    width: 80%;
}

.input-wrap {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    height: 55px;
}

.details-wrap {
    width: 50%;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    height: 55px;
    z-index: 99;
}

.form-input {
    display: block;
    width: 100%;
    font-size: 12pt;
    padding: 0 25px 0 10px;
    line-height: 1.2;
}

.input-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

input {
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.text-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 0 20px;
    margin-top: 25px;
}

.form-text{
    width: 100%;
    font-size: 12pt;
    padding-top: 25px;
    min-height: 160px;
}

.button-group {
    display: flex;
}

.details-wrap:last-of-type {
    margin-left: 10px
}

.details {
    display: flex;
    opacity: 0;
    height: 0;
}

.signup-enter {
    opacity: 0;
    height: 0;
}

.signup-enter-active {
    opacity: 1;
    height: 72px;
    transition: opacity 1s, height 1s;
}

.signup-enter-done {
    opacity: 1;
    height: 72px;
}

.signup-exit {
    opacity: 1;
    height: 72px;
}

.signup-exit-active {
    opacity: 0;
    height: 0;
    transition: opacity 1s, height 1s;
}